* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
font-size: 1.3rem;
background: #f9f9f9;
font-family: 'iransans';
}
.button{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    background: #000;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
    color: #fff;
}
.contain{
    max-width:1100px;
    margin:auto;
    overflow: auto;
    padding: 0 2rem;
}
.main-header{
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
.main-header h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}
.main-header h1 span{
    color:#b50d10;
}
.main-header p {
    font-size: 2rem;
}
.picpost{
    width: 100%;
    height: 400px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}
.cards h3 {
    margin-bottom: 2rem;
}
.cards > div {
    padding: 2rem;
    text-align: right;
}
.cards:nth-child(even) .picpost {
    order: 2;
}

@media (max-width: 700px) {
    .cards{
        display: block;
    }
}



/* 
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
} */